<!DOCTYPE html>
<html>
<head>
	<title>Phase two</title>
</head>
<body>
<h1 align="center" style="background-color:DodgerBlue;">Distributed Systems Project 2</h1><h3 align="center" style="background-color:DodgerBlue;">Phase 2 : A Centralized Pub/Sub System Running in Docker Container</h3><h6 align="right";">Developed By Karan Manchandia (karanman)<br/> Sai Saket Regulapati (saisaket)</h6>
<h4 align="left";">Choose your task from the options given below</h4>	
	<ul>
		<li><a href="/advertiseform">Create a Publisher Channel</a></li>
		<li><a href="/create_event">Create a New Event</a></li>
		<li><a href="/adverts_form">Subscribe</a></li>
		<li><a href="/notifications">Notifications</a></li>

	</ul>
</body>
</html>